@font-face {
  font-family: "KodeMono";
  src: local("Kode Mono"), url(../fonts/kode-mono/KodeMono-VariableFont_wght.ttf);
}
body {
  background-color: #f4f6fb;
  min-height: 100vh;
  color: #131925;
  font-family: "KodeMono";
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid #ced9e9;
}

figure {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.header,
.header__nav,
.header__flexbox,
.footer,
.misredes,
.header__box,
.footer__box {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__figure {
  width: 50px;
  border-radius: 50%;
}

.header {
  padding: 1rem 3rem;
  background-color: #f4f6fb;
  box-shadow: 0 10px 10px hsla(220, 32%, 11%, 0.1);
  z-index: 2;
  position: fixed;
  min-width: 100vw;
  max-height: 82px;
  min-height: fit-content;
}
.header__box {
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
}
.header__box .header__nav .header__p {
  font-weight: 900;
  text-transform: uppercase;
}
.header__box .header__nav .header__p:hover {
  cursor: pointer;
  color: #5075a7;
}

.header__figure {
  width: 50px;
  border-radius: 50%;
}

.main {
  gap: 3rem;
  margin: auto;
  padding: 160px 2rem 80px;
  max-width: 1500px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
}

.article {
  flex-direction: column;
  align-items: flex-start;
}
.article__figure {
  position: relative;
}
.article .article__text {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #f4f6fb;
}
.article .article__text .article__title {
  margin: 0;
  font-size: 1.8rem;
  transform: translateX(-150%);
}
.article .article__text .article__title:hover {
  cursor: pointer;
}
.article .article__text .article__p {
  transform: translateX(150%);
}

.article__image {
  transition: all 300ms;
}

.article__figure:hover .article__image {
  filter: brightness(0.35) blur(2px);
  transform: scale(110%);
}

.article__figure:hover .article__title,
.article__figure:hover .article__p,
.article__figure:hover .article__button {
  transform: translateY(0%);
  transition: transform 500ms, padding 300ms, background-color 300ms;
}

.article__button {
  padding: 0.8rem 1rem;
  color: #f4f6fb;
  border-radius: 5px;
  border: 1px solid #f4f6fb;
  background-color: transparent;
  transform: translateY(400%);
}
.article__button:hover {
  padding-inline: 2rem;
  cursor: pointer;
  color: var(--100);
  border: 1px solid transparent;
  background-color: hsl(141, 73%, 42%);
}

.button-yt:hover {
  background-color: #c00;
}

.footer {
  color: #f4f6fb;
  padding: 1rem 4rem;
  background-color: #131925;
  min-width: 100vw;
}
.footer__box {
  width: 100%;
  max-width: 1400px;
  justify-content: space-between;
}
.footer__figure {
  width: 90px;
}

.misredes__figure {
  height: 100%;
  padding: 0.2rem;
}

.fa-footer {
  color: #f4f6fb;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  transition: transform 300ms;
}
.fa-footer:hover {
  transform: scale(125%);
}

/*# sourceMappingURL=styles.css.map */
