.main {
    gap: $gap-3rem;
    margin: auto;
    padding: 160px 2rem 80px;
    max-width: $max-width-1500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  }